html::-webkit-scrollbar {
  display: none;
}
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/*About us page*/
.abtimg {
    font-family: Arial, Helvetica, sans-serif;
    overflow-wrap:normal;
    /* Photo by Jeremy Bishop on Unsplash */
    background-image: url(../Images/jeremy-bishop-G9i_plbfDgk-unsplash.jpg);
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 8px 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: none;
  }
  
  .about-section {
    padding: 35px;
    text-align: center;
    color: chartreuse;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .container::after, .row::after {
    content: "";
    clear: all;
    display: table;
    
  }
  
  .title {
    color: red;
    font-weight: bolder;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  pre{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-style: italic;
    font-size: 120%;
    font-style:red;
    color: gold;
    white-space: pre-wrap;
  }
  .cen{
    font-family: cursive;
    font-weight: bolder;
    color: blue;
    text-align: center;
  }  
  
  .ftr{
    text-align: center;
    background-color: transparent;
    color: #fff;
    padding:1%;
  }
  /*Glowing text*/
  .glowtxt {
    font-size: 20px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 0.7s ease-in-out infinite alternate;
    -moz-animation: glow 0.7s ease-in-out infinite alternate;
    animation: glow 0.7s ease-in-out infinite alternate;
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
.fas{
  font-size: x-large;
  margin-top: 10px;
  color:lime;
}