<!DOCTYPE HTML> 
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style/s3.css">
    </head>
    <body>
        <table>
            <tr>
                <th colspan="5"><h1> CGPA CALCULATOR </h1></th>
            </tr>
            <tr>
                 <td>Semester - 1</td>
                 <td><input type="number" id="sem1" value="0"/></td>
                 <td>Semester - 2</td>
                 <td><input type="number" id="sem5" value="0"/></td>
            </tr>
             <tr>
                 <td>Semester - 3</td>
                 <td><input type="number" id="sem2" value="0"/> </td>
                 <td>Semester - 4</td>
                 <td><input type="number" id="sem6" value="0"/> </td>
            </tr>
            <tr>
                 <td>Semester - 5</td>
                 <td><input type="number" id="sem3" value="0"/></td>
                 <td>Semester - 6</td>
                 <td><input type="number" id="sem7"  value="0"/></td>
            </tr>
            <tr>
                 <td>Semester - 7</td>
                 <td><input type="number" id="sem4" value="0"/> </td>
                 <td>Semester - 8</td>
                 <td><input type="number" id="sem8" value="0"/> </td>
            </tr>
            <tr>
                <td><input type="button" value="Get CGPA "id = "cgpa" onclick="calc(this.id)"/></td>
                <td><input type="number" id="answer" value="" disabled/></td>
                <td colspan="2"><input type="button" value="CLEAR ALL" onclick="clrscr()"/></td>
            </tr>
        </table>

        <!-- Option 2: jQuery, Popper.js, and Bootstrap JS-->
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
            <script src="JS/bootstrap.min.js" ></script>
            <script src="JS/cstm.js"></script> 
    </body>
</html>